
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'Mulish', sans-serif;
}


.progressWrapper, .content-box-heading{
    display: none;
}

.content-container{
    background-color: #ecf7fc;
    padding: 5px;
}

.font-black{
  font-weight: 900;
}




.rangeRefreshBtn{
    display: none;
}

.css-1rrrg1o{
    width: 100% !important;
}

.fusion-layout-column{
    width: 100% !important;
}



  .fusion-fullwidth img{
    display: none;
  }

  .fusion-fullwidth .content-container{
    background-color: #fff !important;
  }

  figure {
    margin: 24px auto;
    width: 100%;
  }

  figcaption {
    font-size: 0.7em;
  }

  iframe {
    display: block;
    margin: auto;
  }

  .text-yellow-300{
    color: rgb(253 224 71);
  }

  .hover-text:hover{
    border-bottom: 1px solid white;
  }

  .cricket-news-img{
    max-height: 200px;
  }

  .badge-status{
    margin-left: 5px;
    padding: 2px;
    border-radius: 5px;
    color: red;
    font-size: 18px;
  }

  .text-sky-400{
    color: rgb(56 189 248);
  }
  .text-red-400{
    color: rgb(248 113 113);
  }
  .text-blue-400{
    color: rgb(96 165 250);
  }

  @media only screen and (max-width: 600px) {
    .details-page-ads-img{
      float: left;
      margin: 2px;
    }
  }

  .slick-next:before, .slick-prev:before {
    font-size: 24px;
    color: #000;
}

.swiper-wrapper {
  padding-bottom: 40px;
}



